<div class="container">
    <mat-card>
        <mat-card-title>Create Delivery</mat-card-title>
        <mat-card-content>
            <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">

                <div class="group">
                    <mat-form-field appearance="fill">
                        <mat-label>Package ID</mat-label>
                        <mat-select formControlName="package_id">
                            <mat-option value="">None</mat-option>
                            @for (package of packages; track package._id) {
                            <mat-option value="{{package._id}}">{{package.package_id}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <div formGroupName="location" class="location-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Latitude</mat-label>
                        <input type="number" matInput formControlName="lat">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Longitude</mat-label>
                        <input type="number" matInput formControlName="lng">
                    </mat-form-field>
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        @for (status of deliveryStatus; track status) {
                        <mat-option value="{{status}}">{{status}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>


                <button mat-raised-button color="primary" type="submit" [disabled]="deliveryForm.invalid">Create
                    Delivery
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>