<header>
    <div class="container">
        <img src="https://gozem.zendesk.com/hc/theming_assets/01HZM5GYRH286NQ2JDF5FM8WC2" alt="Gozem Logo"
            style="padding: 20px">
        <nav>
            <ul>
                <li><a href="/" routerLink="/web-admin" [class.active]="activeLink === 'web-admin'">Home</a></li>
                <li><a href="/web-tracker" routerLink="/web-tracker"
                        [class.active]="activeLink === 'web-tracker'">Tracker</a></li>
                <li><a href="/web-driver" routerLink="/web-driver"
                        [class.active]="activeLink === 'web-driver'">Driver</a></li>
            </ul>
        </nav>
    </div>
</header>